
@mixin sizes ($width, $height) {
  width: $width;
  height: $height; 
}


@media screen and (min-width: 1401px) and (max-width: 1920px) {
  
 /* INICIO - RESPONSIVE 1080p*/
    
    /* Header logos y títulos */

    .Logo {
      display: flex;
      @include sizes(100%, 100% );
      
      h1 {      
        font-family: "motiva-sans";
        font-size: 150px;
        margin-top: 10px;
        margin-right: 500px;
        margin-left: 50px;    
      }
    }
    
    .sub-title {
      font-family: 'motiva-sans';
      font-size: 75px;
      margin-left: 50px;
      margin-top: 30px;
      margin-bottom: 40px;
    }
    
    h2 {
      font-family: 'motiva-sans';
      font-size: 60px;
      margin-left: 100px;
      margin-top: 60px;
    }
    
    .soporte-h2 {
      flex-wrap: wrap;
      font-family: 'motiva-sans';
      justify-content: center;
      font-size: 40px;
      margin-left: 100px;
      margin-top: 100px;
      color: aliceblue;
    }
    
    /* Navs */
  
    .menu_hamburguesa {
        display: none;


    } 

    #menu_hamburguesa {
        display: none;
    }
    
    

    .secciones{
      background-color: rgb(13, 18, 26);
      height: 100%;
      flex-wrap: wrap;
      
      .secciones-menu {
        font-family: 'motiva-sans';
        background-color: rgb(13, 18, 26);
        line-height: 10px;
        height: 100%;
        flex-wrap: wrap;
        
        li {
          font-family: 'motiva-sans';
          font-size: 25px;
          width: 10%;
          height: 100px;
          display: inline-block;
          line-height: 100px;
          text-align: center;
          
          a {
            display: inline-block;
            text-decoration: none;
            color: aliceblue;
            height: 100%;
            width: 100%;
            
            &:hover {
              background-color: #4a6285;
            }
          }
        }
      }
    }
    
    
    /* Grids */
    
    .container-juegosrecientes {
      flex-wrap: wrap;
      display: flex;
      padding: 30px 30px 100px 50px;
      
      .grid-inicio {
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 500px;
        gap: 30px;
        
        .grid-item1 {
          img {
            padding-left: 10px;
            @include sizes(100%, 100% );
            transition: 1s;
            cursor: pointer;
          }
        }
        
        .grid-item {

          img {
            @include sizes(100%,100% );
            transition: 1s;
            cursor: pointer;
            
            &:hover {
              transform: scale(1.1);
              transition: 1s;
            }
          }
        }
      }
    }
    
    
    /* Cards */
    
    #Updates {
      justify-content: center;
      flex-wrap: wrap;
      display: flex;
      padding: 100px 100px 100px 160px;
      gap: 30px;
      
      .card {
        height: 100%;
        width: 30%;
        border: none;
        
        .card-img-top {
          @include sizes (100%, 100% )
        }
        
        .card-body {
          flex-wrap: wrap;
          width: 100%;
          height: 150px;
          background-color: #111218;
          
        }
        
        .card-title {
          font-family: 'motiva-sans';
          color: aliceblue;
          flex-wrap: wrap;
          font-size: 30px;
         
        }
        
        .card-text {
          font-family: 'motiva-sans';
          color: aliceblue;
          font-size: 20px;
        }
      }
    }
    
    /* Searchbar y Dropdown */
    
    .searchbarflex-container {
      width: 100%;
      height: 140px;
      display: flex; 
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 15px 0px 15px 10px;
    }
    
    
    /* BIBLIOTECA - RESPONSIVE 1080p */
    
    .bibliotecajuegos {
      display: flex;
      padding-top: 100px;
      justify-content: center;
      width: 100%;
      flex-wrap: wrap;
      gap: 20px;
      
      img {
        width: 20%;
        height: 10%;
        transition: 1s;
        cursor: pointer;
        
        &:hover {
          transform: scale(1.1);
          transition: 1s;
        }
      }
    }
    
    /* SOPORTE */

    
    .productos-recientes-menu {
        display: flex;
        background-color: rgb(13, 18, 26); 
        flex-wrap: wrap;
        width: 100%;
    
        ul {
            display: flex;
            flex-direction: column;
            padding-bottom: 0px;
            padding-left: 0px;
            list-style-type: none;
            width: 100%;
            height: 100%;
            line-height: 100px;
    
    
            .productoreciente-navitem {
              
                border-top: solid #1c4d818e;;
                border-bottom: solid #1c4d818e;;
                display: flex;
                justify-content: left;
                width: 100px;
                height: 100px;
                &:hover {
                  background-color: rgb(40, 54, 77);
                  }
                  
    
                a {
                  display: block;
                  width: 100%;
                  font-family: 'motiva-sans';
                  text-decoration: none;
                  color: aliceblue;
                }
            }
        }
    }
    
    
    .soporte-flex-container {
        flex-wrap: wrap;
        display: flex;
        width: 55%;
    
    .steam-support-menu {
        display: flex;
        flex-wrap: wrap;
        width: 850px;
        height: 800px;
        background-color: rgb(13, 18, 26); 
        font-size: 30px;
     
        ul {
            padding-bottom: 0px;
            padding-left: 0px;
            list-style-type: none;
            width: 700px;
            height: 100%;
            line-height: 100px;
    
            .support-navitem {
                border-top: solid #1c4d818e;;
                border-bottom: solid #1c4d818e;;
                display: flex;
                justify-content: left;
                width: 850px;
                height: 100px;
                &:hover {
                  background-color: rgb(40, 54, 77);
                  }
         }
            
             a {
                display: block;
                width: 100%;
                font-family: 'motiva-sans';
                text-decoration: none;
                color: aliceblue;
               
             }
        } 
                
    }
    
    }    
    
    
    /* CUENTA - RESPONSIVE 1080p */

    .avatar-img {
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: center;
      background-color: #21222b;
      
      img {
        width: 30%;
        
      }
    }
    
    .seccion-perfil-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: 600px;
        padding: 20px 100px 100px 200px;
        margin: 0;

         .perfil-bio {
          display: flex;
          flex-direction: column;
          height: 460px;
          width: 80%;
          background-color: #111218;
          padding: 10px 10px 10px 10px;
         
     
         
          
         h3 {
           flex-wrap: wrap;
           color: aliceblue;
           font-size: 70px;
           height: 30%;
         }
         
         h5 {
           color: aliceblue;
           font-size: 25px;
           height: 10%;
     
         }
         p {
           padding-top: 50px;
           color: aliceblue;
           font-size: 30px;
           height: 100%;
         }
        
      }  
  }
      
    



    
    .perfil-nav-container{
        display: flex;
        justify-content: center;
        padding-right: 100px;
        width: 100%;
        height: 500px;
    }
    
    .perfil-nav-menu {
        display: flex;
        height: 500px;
        width: 300%;
        background-color: rgb(13, 18, 26); 
        font-size: 30px;
        
  
         
        ul {
            padding-bottom: 0px;
            padding-left: 0px;
            list-style-type: none;
            width: 100%;
            height: 100%;
            line-height: 100px;
    
            .perfil-navitem {
                border-top: solid #1c4d818e;;
                border-bottom: solid #1c4d818e;;
                display: flex;
                justify-content: left;
                width: 100%;
                height: 100px;
                &:hover {
                  background-color: rgb(40, 54, 77);
                  }
                
                a {
                    display: block;
                    width: 100%;
                    font-family: 'motiva-sans';
                    text-decoration: none;
                    color: aliceblue;
                }
            }
        }
    }
    
    
    .h1-contacto {
       color: aliceblue;
       font-size: 30px;
       text-align: center;
       padding-left: 10px;
      
    
    }
    
    .contacto-perfil {
        display: flex;
        padding-bottom: 100px;
        padding-left: 20px;
        width: 200%;
        height: 100%;
    
         .contacto-info {
             flex-direction: column;
             height: 400px;
             background-color: rgba(13, 18, 26, 0.938); 
             font-size: 50px;
             width: 100%;
             
    
    
             .contacto-item {
                border: solid rgb(4, 79, 145);
                padding: 1px 10px 10px 30px;
                margin-top: 0px;
                font-family: 'motiva-sans';
                font-size: 30px;
                color: aliceblue;
            }
    
        }
    }

    .edit-botton {
        padding: 30px 10px 60px 0px;
        
    }
    .btn-primary {
        padding: 10px 0px;
        font-size: 30px;
        font-family: 'motiva-sans';
        background-color: rgba(27, 30, 32, 0.466);
        border: none;
        width: 200px;
        height: 70px;
        &:hover {
            background-color: rgba(9, 53, 94, 0.568);
        }
    }
 

}

@media screen and (min-width: 1401px) and (max-width: 1739px) {
  .avatar-img {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    background-color: #21222b;
    
    img {
      width: 30%;
      
    }
  }
  
       .perfil-bio {
        display: flex;
        flex-direction: column;
        height: 460px;
        width: 80%;
        background-color: #111218;
        padding: 10px 10px 10px 10px;
       
   
       
        
       h3 {
         flex-wrap: wrap;
         color: aliceblue;
         font-size: 70px;
         height: 30%;
       }
       
       h5 {
         color: aliceblue;
         font-size: 25px;
         height: 10%;
   
       }
       p {
         padding-top: 50px;
         color: aliceblue;
         font-size: 30px;
         height: 100%;
       }
      
    }  

  .perfil-nav-container{
      display: flex;
      justify-content: left;
      width: 100%;
      height: 100px;
 
  
  .perfil-nav-menu {
      display: flex;
      height: 500px;
      width: 100%;
      justify-content: left;
      background-color: rgb(13, 18, 26); 
      font-size: 30px;

       
      ul {
          padding-bottom: 0px;
          padding-left: 0px;
          list-style-type: none;
          width: 700px;
          height: 600px;
          line-height: 100px;
  
          .perfil-navitem {
              border-top: solid #1c4d818e;;
              border-bottom: solid #1c4d818e;;
              display: flex;
              justify-content: left;
              width: 100%;
              height: 100px;
              &:hover {
                background-color: rgb(40, 54, 77);
                }
              
              a {
                  display: block;
                  width: 100%;
                  font-family: 'motiva-sans';
                  text-decoration: none;
                  color: aliceblue;
              }
          }
      }
  }
  
  
  .h1-contacto {
     color: aliceblue;
     font-size: 10px;
     padding: 10px 10px 0px 1150px;
    
  
  }
  
  .contacto-perfil {
      display: flex;
      padding-bottom: 100px;
      padding-left: 100px;
      width: 10000px;
      height: 100%;
  
       .contacto-info {
           display: flex;
           flex-direction: column;
           height: 400px;
           background-color: rgba(13, 18, 26, 0.938); 
           font-size: 50px;
           width: 100%;
           margin: 0;
          
           
  
  
           .contacto-item {
              border: solid rgb(4, 79, 145);
              padding: 1px 10px 10px 30px;
              margin-top: 0px;
              font-family: 'motiva-sans';
              font-size: 30px;
              color: aliceblue;
          }
  
      }
  }
}
  .edit-botton {
      padding: 30px 10px 60px 0px;
      
  }
  .btn-primary {
      padding: 10px 0px;
      font-size: 30px;
      font-family: 'motiva-sans';
      background-color: rgba(27, 30, 32, 0.466);
      border: none;
      width: 200px;
      height: 70px;
      &:hover {
          background-color: rgba(9, 53, 94, 0.568);
      }
  }


}



