@charset "UTF-8";
@font-face {
  font-family: "motiva-sans";
  src: url("../motiva-sans/MotivaSansRegular.woff.ttf");
}
/* Nav principal */
/* --------------------------------------------------------------------------------------------------------------- */
.secciones {
  background-color: rgb(13, 18, 26);
  height: 150px;
  flex-wrap: wrap;
}
.secciones .secciones-menu {
  font-family: "motiva-sans";
  background-color: rgb(36, 36, 44);
  font-size: 50px;
  line-height: 10px;
  height: 1px;
  flex-wrap: wrap;
}
.secciones .secciones-menu li {
  font-family: "motiva-sans";
  font-size: 40px;
  width: 300px;
  display: inline-block;
  line-height: 150px;
  text-align: center;
}
.secciones .secciones-menu li a {
  display: inline-block;
  text-decoration: none;
  color: aliceblue;
  height: 150px;
  width: 300px;
}
.secciones .secciones-menu li a:hover {
  background-color: #4a6285;
}

/* Nav principal */
/* --------------------------------------------------------------------------------------------------------------- */
/* Nav secundaria */
.comunidadsecciones ul {
  font-family: "motiva-sans";
  background-color: rgb(13, 18, 26);
  font-size: 40px;
  line-height: 80px;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}
.comunidadsecciones ul li {
  font-family: "motiva-sans";
  font-size: 30px;
  width: 300px;
  display: inline-block;
  line-height: 100px;
  text-align: center;
}
.comunidadsecciones ul li a {
  color: aliceblue;
  display: block;
  text-decoration: none;
}
.comunidadsecciones ul li a:hover {
  background-color: #4a6285;
}

/* Nav secundaria */
/* --------------------------------------------------------------------------------------------------------------- */
/* nav hamburguesa 480px */
/* Flex Container para searchbar y dropdowns */
.searchbarflex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 0px 15px 10px;
}

/* Flex Container para searchbar y dropdowns */
/* Dropdown */
.dropdown-biblioteca {
  padding: 20px 50px;
}
.dropdown-biblioteca .dropdown-menu {
  padding: 70px;
  background-color: rgb(36, 36, 44);
}
.dropdown-biblioteca .dropdown-item {
  font-size: 50px;
  padding: 5px;
}
.dropdown-biblioteca .dropdown-item:hover {
  background-color: rgb(36, 36, 44);
}
.dropdown-biblioteca .btn.btn-secondary {
  font-family: "motiva-sans";
  padding: 30px 20px;
  font-size: 50px;
  background-color: rgb(36, 36, 44);
}

/* Dropdown */
/* Searchbar */
.search-bar {
  padding: 20px 70px;
}

.form-searchbar {
  font-size: 50px;
  padding: 30px 30px;
  background-color: rgb(36, 36, 44);
  border-width: 1px;
}
.form-searchbar::placeholder {
  font-family: "motiva-sans";
  color: rgb(254, 255, 255);
  text-indent: 10px;
}

/* Searchbar */
/* Cards */
/* --------------------------------------------------------------------------------------------------------------- */
#Updates {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  padding: 100px 100px 100px 160px;
  gap: 30px;
}
#Updates .card {
  height: 30%;
  width: 20%;
}
#Updates .card .card-img-top {
  height: 50%;
  width: 100%;
}
#Updates .card .card-body {
  flex-wrap: wrap;
  width: 100%;
  height: 50%;
  background-color: #111218;
}
#Updates .card .card-title {
  font-family: "motiva-sans";
  color: aliceblue;
  flex-wrap: wrap;
  font-size: 50px;
}
#Updates .card .card-text {
  font-family: "motiva-sans";
  color: aliceblue;
  font-size: 30px;
}

/* Grid INICIO */
/* --------------------------------------------------------------------------------------------------------------- */
.container-juegosrecientes {
  flex-wrap: wrap;
  display: flex;
  padding: 30px 30px 100px 50px;
}
.container-juegosrecientes .grid-inicio {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1000px;
  gap: 30px;
}
.container-juegosrecientes .grid-inicio .grid-item1 img {
  padding-left: 10px;
  width: 100%;
  height: 100%;
  transition: 1s;
  cursor: pointer;
}
.container-juegosrecientes .grid-inicio .grid-item img {
  height: 100%;
  width: 100%;
  transition: 1s;
  cursor: pointer;
}
.container-juegosrecientes .grid-inicio .grid-item img:hover {
  transform: scale(1.1);
  transition: 1s;
}

/* Grid INICIO */
/* --------------------------------------------------------------------------------------------------------------- */
/* Grids TIENDA */
/* Grid 1 */
.grid-container {
  display: flex;
  justify-content: center;
  margin: 30px 100px 100px 100px;
}
.grid-container .producto__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.grid-container .producto__grid img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* Grid 1 */
/* --------------------------------------------------------------------------------------------------------------- */
/* Grid 2 */
.grid-container2 {
  display: flex;
  justify-content: center;
  margin: 30px 100px 200px 100px;
}
.grid-container2 .productodos__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.grid-container2 img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* Grid 2 */
/* --------------------------------------------------------------------------------------------------------------- */
/*Grids TIENDA */
/* Nav/menu para seccion CUENTA */
.perfil-nav-container {
  display: flex;
  justify-content: flex-start;
  padding-left: 100px;
  padding-bottom: 10px;
  width: 100%;
}

.perfil-nav-menu {
  padding-left: 0px;
  height: 100%;
  background-color: rgb(13, 18, 26);
  font-size: 50px;
}
.perfil-nav-menu ul {
  padding-bottom: 0px;
  padding-left: 0px;
  list-style-type: none;
  width: 1000px;
  height: 100%;
  line-height: 160px;
}
.perfil-nav-menu ul .perfil-navitem {
  border-top: solid rgba(28, 77, 129, 0.5568627451);
  border-bottom: solid rgba(28, 77, 129, 0.5568627451);
  display: flex;
  justify-content: left;
  height: 20%;
}
.perfil-nav-menu ul .perfil-navitem:hover {
  background-color: rgb(40, 54, 77);
}
.perfil-nav-menu ul .perfil-navitem a {
  display: block;
  margin-left: 130px;
  font-family: "motiva-sans";
  text-decoration: none;
  color: aliceblue;
}

.h1-contacto {
  font-size: 50px;
  padding: 0px 40px 30px 1200px;
}

.contacto-perfil {
  display: flex;
  padding-bottom: 100px;
  padding-left: 100px;
  width: 50%;
}
.contacto-perfil .contacto-info {
  flex-direction: column;
  height: 103%;
  background-color: rgba(13, 18, 26, 0.938);
  font-size: 50px;
  width: 100%;
}
.contacto-perfil .contacto-info .contacto-item {
  border: solid rgb(4, 79, 145);
  padding: 1px 10px 10px 30px;
  margin-top: 30px;
  font-family: "motiva-sans";
  font-size: 50px;
}

/* Nav/menu para seccion CUENTA */
.edit-botton {
  padding: 60px 10px 60px 0px;
}

.btn-primary {
  margin-left: 30px;
  font-size: 50px;
  font-family: "motiva-sans";
  background-color: rgba(27, 30, 32, 0.466);
  border: none;
  width: 300px;
  height: 100px;
}
.btn-primary:hover {
  background-color: rgba(9, 53, 94, 0.568);
}

@media screen and (min-width: 1200px) and (max-width: 1920px) {
  /* INICIO - RESPONSIVE 1080p*/
  /* Header logos y títulos */
  .Logo {
    display: flex;
    height: 100%;
    width: 100%;
  }
  .Logo h1 {
    font-family: "motiva-sans";
    font-size: 150px;
    margin-top: 10px;
    margin-right: 500px;
    margin-left: 50px;
  }
  .sub-title {
    font-family: "motiva-sans";
    font-size: 75px;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  h2 {
    font-family: "motiva-sans";
    font-size: 60px;
    margin-left: 100px;
    margin-top: 60px;
  }
  .soporte-h2 {
    flex-wrap: wrap;
    font-family: "motiva-sans";
    justify-content: center;
    font-size: 40px;
    margin-left: 100px;
    margin-top: 100px;
    color: aliceblue;
  }
  /* Navs */
  .menu_hamburguesa {
    display: none;
  }
  #menu_hamburguesa {
    display: none;
  }
  .secciones {
    background-color: rgb(13, 18, 26);
    height: 100%;
    flex-wrap: wrap;
  }
  .secciones .secciones-menu {
    font-family: "motiva-sans";
    background-color: rgb(13, 18, 26);
    line-height: 10px;
    height: 100%;
    flex-wrap: wrap;
  }
  .secciones .secciones-menu li {
    font-family: "motiva-sans";
    font-size: 25px;
    width: 10%;
    height: 100px;
    display: inline-block;
    line-height: 100px;
    text-align: center;
  }
  .secciones .secciones-menu li a {
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    height: 100%;
    width: 100%;
  }
  .secciones .secciones-menu li a:hover {
    background-color: #4a6285;
  }
  /* Grids */
  .container-juegosrecientes {
    flex-wrap: wrap;
    display: flex;
    padding: 30px 30px 100px 50px;
  }
  .container-juegosrecientes .grid-inicio {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 500px;
    gap: 30px;
  }
  .container-juegosrecientes .grid-inicio .grid-item1 img {
    padding-left: 10px;
    width: 100%;
    height: 100%;
    transition: 1s;
    cursor: pointer;
  }
  .container-juegosrecientes .grid-inicio .grid-item img {
    height: 100%;
    width: 100%;
    transition: 1s;
    cursor: pointer;
  }
  .container-juegosrecientes .grid-inicio .grid-item img:hover {
    transform: scale(1.1);
    transition: 1s;
  }
  /* Cards */
  #Updates {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    padding: 100px 100px 100px 160px;
    gap: 30px;
  }
  #Updates .card {
    height: 100%;
    width: 20%;
  }
  #Updates .card .card-img-top {
    height: 100%;
    width: 100%;
  }
  #Updates .card .card-body {
    flex-wrap: wrap;
    width: 100%;
    height: 150px;
    background-color: #111218;
  }
  #Updates .card .card-title {
    font-family: "motiva-sans";
    color: aliceblue;
    flex-wrap: wrap;
    font-size: 20px;
  }
  #Updates .card .card-text {
    font-family: "motiva-sans";
    color: aliceblue;
    font-size: 15px;
  }
  /* Searchbar y Dropdown */
  .searchbarflex-container {
    width: 100%;
    height: 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 0px 15px 10px;
  }
  /* BIBLIOTECA - RESPONSIVE 1080p */
  .bibliotecajuegos {
    display: flex;
    padding-top: 100px;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
  }
  .bibliotecajuegos img {
    width: 20%;
    height: 10%;
    transition: 1s;
    cursor: pointer;
  }
  .bibliotecajuegos img:hover {
    transform: scale(1.1);
    transition: 1s;
  }
  /* SOPORTE */
  .productos-recientes-container {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
  }
  .productos-recientes-container .productos-recientes-menu {
    display: flex;
    background-color: rgb(13, 18, 26);
    font-size: 30px;
    flex-wrap: wrap;
    width: 100%;
  }
  .productos-recientes-container .productos-recientes-menu ul {
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
    padding-left: 0px;
    list-style-type: none;
    width: 100%;
    height: 100%;
    line-height: 100px;
  }
  .productos-recientes-container .productos-recientes-menu ul .productoreciente-navitem {
    border-top: solid rgba(28, 77, 129, 0.5568627451);
    border-bottom: solid rgba(28, 77, 129, 0.5568627451);
    display: flex;
    justify-content: left;
    width: 850px;
    height: 100px;
  }
  .productos-recientes-container .productos-recientes-menu ul .productoreciente-navitem:hover {
    background-color: rgb(40, 54, 77);
  }
  .productos-recientes-container .productos-recientes-menu ul .productoreciente-navitem a {
    display: block;
    width: 100%;
    font-family: "motiva-sans";
    text-decoration: none;
    color: aliceblue;
  }
  .soporte-flex-container {
    flex-wrap: wrap;
    display: flex;
    width: 55%;
  }
  .soporte-flex-container .steam-support-menu {
    display: flex;
    flex-wrap: wrap;
    width: 850px;
    height: 800px;
    background-color: rgb(13, 18, 26);
    font-size: 30px;
  }
  .soporte-flex-container .steam-support-menu ul {
    padding-bottom: 0px;
    padding-left: 0px;
    list-style-type: none;
    width: 700px;
    height: 100%;
    line-height: 100px;
  }
  .soporte-flex-container .steam-support-menu ul .support-navitem {
    border-top: solid rgba(28, 77, 129, 0.5568627451);
    border-bottom: solid rgba(28, 77, 129, 0.5568627451);
    display: flex;
    justify-content: left;
    width: 850px;
    height: 100px;
  }
  .soporte-flex-container .steam-support-menu ul .support-navitem:hover {
    background-color: rgb(40, 54, 77);
  }
  .soporte-flex-container .steam-support-menu ul a {
    display: block;
    width: 100%;
    font-family: "motiva-sans";
    text-decoration: none;
    color: aliceblue;
  }
  /* CUENTA - RESPONSIVE 1080p */
  .avatar-img {
    display: flex;
    padding-left: 2%;
    height: 100%;
    width: 100%;
    justify-content: center;
    background-color: #111218;
  }
  .avatar-img img {
    width: 30%;
  }
  .seccion-perfil-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
  }
  .seccion-perfil-container .perfil-bio {
    display: flex;
    flex-direction: column;
    height: 460px;
    width: 100%;
    background-color: #111218;
  }
  .seccion-perfil-container .perfil-bio h3 {
    flex-wrap: wrap;
    color: aliceblue;
    font-size: 70px;
    height: 30%;
  }
  .seccion-perfil-container .perfil-bio h5 {
    color: aliceblue;
    font-size: 25px;
    height: 10%;
  }
  .seccion-perfil-container .perfil-bio p {
    color: aliceblue;
    font-size: 30px;
    height: 100%;
  }
  .perfil-nav-container {
    display: flex;
    justify-content: center;
    padding-bottom: 1000px;
    width: 100%;
    height: 500px;
  }
  .perfil-nav-menu {
    height: 500px;
    background-color: rgb(13, 18, 26);
    font-size: 30px;
  }
  .perfil-nav-menu ul {
    padding-bottom: 0px;
    padding-left: 0px;
    list-style-type: none;
    width: 700px;
    height: 600px;
    line-height: 100px;
  }
  .perfil-nav-menu ul .perfil-navitem {
    border-top: solid rgba(28, 77, 129, 0.5568627451);
    border-bottom: solid rgba(28, 77, 129, 0.5568627451);
    display: flex;
    justify-content: left;
    width: 700px;
    height: 100px;
  }
  .perfil-nav-menu ul .perfil-navitem:hover {
    background-color: rgb(40, 54, 77);
  }
  .perfil-nav-menu ul .perfil-navitem a {
    display: block;
    width: 100%;
    font-family: "motiva-sans";
    text-decoration: none;
    color: aliceblue;
  }
  .h1-contacto {
    color: aliceblue;
    font-size: 35px;
    padding: 10px 40px 30px 1050px;
  }
  .contacto-perfil {
    display: flex;
    padding-bottom: 100px;
    padding-left: 100px;
    width: 10000px;
  }
  .contacto-perfil .contacto-info {
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: rgba(13, 18, 26, 0.938);
    font-size: 50px;
    width: 700px;
    margin: 0px 10px 100px 150px;
  }
  .contacto-perfil .contacto-info .contacto-item {
    border: solid rgb(4, 79, 145);
    padding: 1px 10px 10px 30px;
    margin-top: 0px;
    font-family: "motiva-sans";
    font-size: 30px;
    color: aliceblue;
  }
  .edit-botton {
    padding: 30px 10px 60px 0px;
  }
  .btn-primary {
    padding: 10px 0px;
    font-size: 30px;
    font-family: "motiva-sans";
    background-color: rgba(27, 30, 32, 0.466);
    border: none;
    width: 200px;
    height: 70px;
  }
  .btn-primary:hover {
    background-color: rgba(9, 53, 94, 0.568);
  }
}
/* RESPONSIVE 480px */
@media screen and (min-width: 370px) and (max-width: 770px) {
  .Logo {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
  }
  .Logo img {
    display: flex;
    width: 100%;
    max-width: 100px;
    height: auto;
  }
  .Logo h1 {
    display: flex;
    font-family: "motiva-sans";
    font-size: 38px !important;
  }
  .sub-title-container {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
  }
  .sub-title-container .sub-title {
    margin: 10px 10px 10px 10px;
    display: flex;
    font-family: "motiva-sans";
    width: 300px;
    height: 100px;
    justify-content: center;
  }
  .sub-title-container h2 {
    margin: auto;
    padding: auto;
    display: flex;
    align-items: center;
    font-size: 35px;
  }
  .main-h2-container {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    margin-top: 5%;
    padding: 10px 10px 5px 40px;
  }
  .main-h2-container .main-h2 {
    margin: 10px 10px 10px 10px;
    display: flex;
    font-family: "motiva-sans";
  }
  .main-h2-container h2 {
    margin: auto;
    padding: auto;
    display: flex;
    align-items: left;
    font-size: 20px;
  }
  #menu_hamburguesa:checked + .secciones-menu {
    height: 500px;
  }
  .checkbox_hamburguesa {
    display: none;
  }
  .secciones {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(13, 18, 26);
    height: 30%;
    flex-wrap: wrap;
    position: relative;
  }
  .secciones .secciones-menu {
    padding: 0;
    display: flex;
    width: 100%;
    font-family: "motiva-sans";
    background-color: rgb(9, 13, 19);
    overflow: hidden;
    position: absolute;
    top: 100%;
  }
  .secciones .secciones-menu li {
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100px;
    font-size: 25px;
    line-height: 100px;
  }
  .secciones .secciones-menu li a {
    text-decoration: none;
    color: aliceblue;
    height: 100%;
    width: 100%;
  }
  .secciones .secciones-menu li a:hover {
    background-color: #4a6285;
  }
  /* INICIO */
  /* --------------------------------------------------------------------------------------------------------------- */
  .container-juegosrecientes {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
  }
  .container-juegosrecientes .grid-inicio {
    margin: auto;
    padding: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .container-juegosrecientes .grid-inicio .grid-item1 img {
    width: 100%;
    height: 100%;
    transition: 1s;
    cursor: pointer;
  }
  .container-juegosrecientes .grid-inicio .grid-item img {
    height: 100%;
    width: 100%;
    transition: 1s;
    cursor: pointer;
  }
  .container-juegosrecientes .grid-inicio .grid-item img:hover {
    transform: scale(1.1);
    transition: 1s;
  }
  .comunidadsecciones ul {
    font-family: "motiva-sans";
    background-color: rgb(13, 18, 26);
    font-size: 40px;
    line-height: 80px;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
  }
  .comunidadsecciones ul li {
    font-family: "motiva-sans";
    font-size: 30px;
    width: 300px;
    display: inline-block;
    line-height: 100px;
    text-align: center;
  }
  .comunidadsecciones ul li a {
    color: aliceblue;
    display: block;
    text-decoration: none;
  }
  .comunidadsecciones ul li a:hover {
    background-color: #4a6285;
  }
  #Updates {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0px;
    padding-bottom: 500px;
  }
  #Updates .card {
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #Updates .card .card-img-top {
    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: 0px;
    transition: 1s;
    cursor: pointer;
  }
  #Updates .card .card-body {
    flex-grow: 1;
    background-color: #111218;
  }
  #Updates .card .card-title, #Updates .card .card-text {
    font-family: "motiva-sans";
    color: aliceblue;
    font-size: 20px;
  }
  /* INICIO */
  /* --------------------------------------------------------------------------------------------------------------- */
  /* BIBLIOTECA */
  /* BIBLIOTECA */
  /* TIENDA */
  .grid-container {
    display: flex;
    justify-content: center;
    margin: 30px 100px 100px 100px;
  }
  .grid-container .producto__grid {
    flex-wrap: wrap;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .grid-container .producto__grid img {
    height: 100%;
    width: 100%;
    transition: 1s;
  }
  .grid-container2 {
    display: flex;
    justify-content: center;
    margin: 30px 100px 200px 100px;
  }
  .grid-container2 .productodos__grid {
    flex-wrap: wrap;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .grid-container2 .productodos__grid img {
    height: 100%;
    width: 100%;
    transition: 1s;
  }
  /* CUENTA */
  /* --------------------------------------------------------------------------------------------------------------- */
  .avatar-img {
    justify-content: center;
    display: flex;
    padding: 10px 10px 0px 10px;
  }
  .avatar-img img {
    width: 50%;
    height: 50%;
  }
  .seccion-perfil-container {
    width: 100px;
    height: 100%;
  }
  .seccion-perfil-container .perfil-bio {
    background-color: #111218;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    height: 300px;
  }
  .seccion-perfil-container .perfil-bio h3 {
    height: 20%;
    font-size: 30px;
    color: aliceblue;
  }
  .seccion-perfil-container .perfil-bio h5 {
    height: 20%;
    font-size: 15px;
    color: aliceblue;
  }
  .seccion-perfil-container .perfil-bio p {
    height: 100%;
    font-size: 10px;
    color: aliceblue;
  }
  .perfil-nav-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10%;
    margin: auto;
    padding: 0;
  }
  .perfil-nav-menu {
    height: 10%;
    background-color: rgb(13, 18, 26);
    font-size: 30px;
  }
  .perfil-nav-menu ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .perfil-nav-menu ul .perfil-navitem {
    border-top: solid rgba(28, 77, 129, 0.5568627451);
    border-bottom: solid rgba(28, 77, 129, 0.5568627451);
    display: flex;
    align-items: center;
    width: auto;
    height: 100px;
    font-size: 20px;
    margin: 0;
  }
  .perfil-nav-menu ul .perfil-navitem:hover {
    background-color: rgb(40, 54, 77);
  }
  .perfil-nav-menu ul .perfil-navitem a {
    display: block;
    font-family: "motiva-sans";
    text-decoration: none;
    color: aliceblue;
  }
  .h1-contacto {
    display: flex;
    font-size: 30px;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 70px;
    color: aliceblue;
  }
  .contacto-perfil {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0;
  }
  .contacto-perfil .contacto-info {
    flex-direction: column;
    height: 400px;
    background-color: rgba(13, 18, 26, 0.938);
    font-size: 50px;
    width: 100%;
  }
  .contacto-perfil .contacto-info .contacto-item {
    border-top: solid rgba(28, 77, 129, 0.5568627451);
    border-bottom: solid rgba(28, 77, 129, 0.5568627451);
    padding: 1px 10px 10px 30px;
    width: 100%;
    margin-top: 0px;
    font-family: "motiva-sans";
    font-size: 20px;
    color: aliceblue;
  }
  /* SOPORTE */
  /* --------------------------------------------------------------------------------------------------------------- */
  .soporte-h2 {
    display: flex;
    color: aliceblue;
    flex-wrap: wrap;
    font-family: "motiva-sans";
    justify-content: left;
    font-size: 30px;
    margin: 10px 10px 10px 10px;
  }
  .productos-recientes-menu {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgb(13, 18, 26);
  }
  .productos-recientes-menu ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
  }
  .productos-recientes-menu ul .productoreciente-navitem {
    border-top: solid rgba(28, 77, 129, 0.5568627451);
    border-bottom: solid rgba(28, 77, 129, 0.5568627451);
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 25px;
  }
  .productos-recientes-menu ul .productoreciente-navitem:hover {
    background-color: rgb(40, 54, 77);
  }
  .productos-recientes-menu ul .productoreciente-navitem a {
    display: block;
    font-family: "motiva-sans";
    text-decoration: none;
    color: aliceblue;
    width: 100%;
  }
  .steam-support-menu {
    display: flex;
    background-color: rgb(13, 18, 26);
    width: 100%;
    height: 100%;
  }
  .steam-support-menu ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
  }
  .steam-support-menu ul .support-navitem {
    border-top: solid rgba(28, 77, 129, 0.5568627451);
    border-bottom: solid rgba(28, 77, 129, 0.5568627451);
    display: flex;
    width: 100%;
    font-size: 40px;
  }
  .steam-support-menu ul .support-navitem:hover {
    background-color: rgb(40, 54, 77);
  }
  .steam-support-menu ul .support-navitem a {
    display: block;
    font-family: "motiva-sans";
    text-decoration: none;
    color: aliceblue;
    width: 100%;
  }
  /* Flex Container para searchbar y dropdowns */
  .searchbarflex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 0px 15px 10px;
  }
  /* Flex Container para searchbar y dropdowns */
  /* Dropdown */
  .dropdown-biblioteca {
    display: flex;
    width: 100%;
    padding: 20px 50px;
    margin-top: 5%;
  }
  .dropdown-biblioteca .dropdown-menu {
    padding: 70px;
    background-color: rgb(36, 36, 44);
  }
  .dropdown-biblioteca .dropdown-item {
    font-size: 10px;
    padding: 5px;
  }
  .dropdown-biblioteca .dropdown-item:hover {
    background-color: rgb(36, 36, 44);
  }
  .dropdown-biblioteca .btn.btn-secondary {
    font-family: "motiva-sans";
    padding: 30px 20px;
    font-size: 20px;
    background-color: rgb(36, 36, 44);
  }
  /* Dropdown */
  /* Searchbar */
  .searchbar {
    display: flex;
    width: 100%;
    padding: 10px 70px 10px 50px;
  }
  .search-bar {
    padding: 0px;
  }
  .form-searchbar {
    display: flex;
    width: 100%;
    font-size: 20px;
    background-color: rgb(36, 36, 44);
    border-width: 1px;
  }
  .form-searchbar::placeholder {
    font-family: "motiva-sans";
    color: rgb(254, 255, 255);
    text-indent: 10px;
  }
  /* Searchbar */
}
@media screen and (min-width: 370px) and (max-width: 656px) {
  .steam-support-menu {
    display: flex;
    background-color: rgb(13, 18, 26);
    width: 100%;
    height: 100%;
  }
  .steam-support-menu ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
  }
  .steam-support-menu ul .support-navitem {
    border-top: solid rgba(28, 77, 129, 0.5568627451);
    border-bottom: solid rgba(28, 77, 129, 0.5568627451);
    display: flex;
    width: 100%;
    font-size: 15px;
  }
  .steam-support-menu ul .support-navitem:hover {
    background-color: rgb(40, 54, 77);
  }
  .steam-support-menu ul .support-navitem a {
    display: block;
    font-family: "motiva-sans";
    text-decoration: none;
    color: aliceblue;
    width: 100%;
  }
}
@font-face {
  font-family: "motiva-sans";
  src: url("../motiva-sans/MotivaSansRegular.woff.ttf");
}
/* FONTS */
.Logo {
  display: flex;
  height: 100%;
  width: 100%;
}
.Logo img {
  width: auto;
}
.Logo h1 {
  font-family: "motiva-sans";
  color: aliceblue;
  font-size: 130px;
  padding: 10px 10px 10px 10px;
  margin: 60px 50px 10px 10px;
}

.sub-title {
  font-family: "motiva-sans";
  color: aliceblue;
  margin-left: 60px;
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 50px;
}

.main-h2 {
  display: flex;
  color: aliceblue;
  font-family: "motiva-sans";
  font-size: 40px;
  margin-left: 60px;
  margin-top: 60px;
  margin-bottom: 20px;
}
.main-h2 h2 {
  margin: 0;
}

/* FONTS */
/* ---------------------------------------------------*/
/* COLORES DE LA PAGINA */
header {
  background: rgb(1, 5, 10);
}

body {
  background: #1a2531;
}

/* COLORES DE LA PAGINA */
/* ---------------------------------------------------*/
/* INICIO */
/* INICIO */
/* --------------------------------------------------------------------------------------------------------------- */
/* Biblioteca */
.bibliotecajuegos {
  display: flex;
  padding-top: 100px;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}
.bibliotecajuegos img {
  width: 15%;
  height: 10%;
  transition: 1s;
  cursor: pointer;
}
.bibliotecajuegos img:hover {
  transform: scale(1.1);
  transition: 1s;
}

/* Biblioteca */
/* SOPORTE */
.productos-recientes-container {
  display: flex;
  width: 26%;
  padding: 30px 10px 10px 100px;
}

.productos-recientes-menu {
  width: 98%;
  background-color: rgb(13, 18, 26);
  font-size: 50px;
}
.productos-recientes-menu ul {
  margin-bottom: 0px;
  padding-left: 0px;
  list-style-type: none;
  width: 100%;
  height: 110%;
  line-height: 160px;
}
.productos-recientes-menu ul .productoreciente-navitem {
  border-top: solid rgba(28, 77, 129, 0.5568627451);
  border-bottom: solid rgba(28, 77, 129, 0.5568627451);
  display: flex;
  justify-content: left;
  width: 100%;
  height: 15%;
}
.productos-recientes-menu ul .productoreciente-navitem:hover {
  background-color: rgb(40, 54, 77);
}
.productos-recientes-menu ul .productoreciente-navitem a {
  display: block;
  margin-left: 130px;
  font-family: "motiva-sans";
  text-decoration: none;
  color: aliceblue;
}

.soporte-flex-container {
  display: flex;
  justify-content: left;
  padding: 40px 100px 100px 100px;
}

.steam-support-menu {
  background-color: rgb(13, 18, 26);
  font-size: 60px;
}
.steam-support-menu ul {
  padding-left: 0px;
  width: 2000px;
  height: 1980px;
  line-height: 250px;
}
.steam-support-menu ul .support-navitem {
  border-top: solid rgba(28, 77, 129, 0.5568627451);
  border-bottom: solid #1d2b3a;
  display: flex;
  justify-content: left;
  height: 250px;
}
.steam-support-menu ul .support-navitem:hover {
  background-color: rgb(37, 51, 73);
}
.steam-support-menu ul a {
  display: block;
  margin-left: 100px;
  font-family: "motiva-sans";
  text-decoration: none;
  color: aliceblue;
}

/* CUENTA */
.seccion-perfil-container {
  padding: 20px 50px 20px 50px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.seccion-perfil-container .perfil-header {
  justify-content: center;
  width: 100%;
  height: 600px;
  display: flex;
  padding: 60px 100px 50px 100px;
}
.seccion-perfil-container .perfil-header .avatar-img {
  display: flex;
  height: 100%;
}
.seccion-perfil-container .perfil-header .perfil-bio {
  padding: 50px 10px 10px 10px;
}
.seccion-perfil-container .perfil-header h3 {
  flex-wrap: wrap;
  line-height: 1px;
  padding: 0px 30px;
  font-size: 70px;
}
.seccion-perfil-container .perfil-header h5 {
  line-height: 150px;
  padding: 0px 40px;
  font-size: 25px;
}
.seccion-perfil-container .perfil-header p {
  padding: 0px 30px;
  font-size: 30px;
}

/*# sourceMappingURL=style.css.map */
